
/* 一.统一样式: */
  /* ul去圆点标识符 */
  ul {
    list-style: none;
  }
  /* 整个容器样式 */
  html,body,#container{
    width: 100%;
    padding:0;
    margin:0;
    height: 100%;
    background-color: #c9152e;
    /* 不显示滚动条 纵向溢出隐藏 */
    overflow-y: hidden;
  }

  /* banner背景层样式 */
  div#banner{
    background-image: url('../images/img_introduction/bg.png');
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: 100%;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  /* banner图上具体内容的整体样式 */
  div#topContent {
    width: 80%;
    height: 2.9rem;
    margin: 0 auto;
    position: relative;
    top: 40%;
  }

/* 二.单独样式: */
  /* 文字列表的样式 */
  ul#list {
    font-size: 0.285rem;
    color: white;
  }
  /* 每行文字的样式 */
  li.item {
    padding: 0.15rem 0rem;
  }
  /* 文字与按钮之间的图片样式 */
  #topContent img {
    width: 35%;
  }
  /* 图片背景层的样式 */
  div#imgBox {
    text-align: center;
    margin-top: 0.25rem;
  }
  /* 按钮的样式 */
  div#btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0rem 2rem;
    border-radius: 0.15rem;
    position: relative;
    cursor: pointer;
    bottom: -0.3rem;
  }
  /* 按钮内部a标签的样式 */
  #btn a {
    font-size: 0.35rem;
    color: #c9152e;
    padding: 0.08rem 0rem;
  }

  